name: Build image and push to Docker Hub

on: [push, workflow_dispatch, repository_dispatch]

env:
  BRANCH: '8.1'
  PIPELINE_WORKFLOW_ID: '8996686'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ env.BRANCH }}
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build latest
        if: ${{ env.BRANCH == '7.4' }}
        uses: docker/build-push-action@v2
        with:
          platforms: ${{ secrets.DOCKER_PLATFORMS }}
          push: true
          tags: rshop/swoole:latest
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          platforms: ${{ secrets.DOCKER_PLATFORMS }}
          push: true
          tags: rshop/swoole:${{ env.BRANCH }}
      -
        name: Create pipeline tag name
        id: pipeline-tag
        run: |
          tag="${{ env.BRANCH }}"
          echo "::set-output name=tag::${tag/-mssql/}"
      -
        name: Trigger pipeline rebuild
        if: ${{ contains(env.BRANCH, '-mssql') }}
        uses: rshop/trigger-workflow-action@v1
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          repository: 'rshop/docker-pipeline'
          workflowId: ${{ env.PIPELINE_WORKFLOW_ID }}
          branch: ${{ steps.pipeline-tag.outputs.tag }}
